{% extends 'EstudioApp/index.html' %}
{% load static %}


{% block index_header %}
{% endblock index_header %}


{% block index_noticias %}
{% endblock index_noticias %}


{% block new_content %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url({% static 'EstudioApp/assets/law-firm.jpg' %})">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>Nuestro estudio</h1>
                            <span class="subheading">Una década dedicándonos a la defensa de tus derechos.</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>Este Estudio Jurídico fue fundado por la Dra. F. Martínez Schulman en el año 2011, es decir, hace más de diez años, y al día de hoy se encuentra en plena e ininterrumpida actividad. </p>
                        <p>Integrado por un equipo de profesionales, todos de acreditada trayectoria, ha orientado su actividad a la atención de asuntos de pequeñas y medianas empresas argentinas y de particulares, tanto en las gestiones judiciales como extrajudiciales.</p>
                        <p>Su integración interdisciplinaria habilita la atención de asuntos novedosos en el ámbito del DERECHO INFORMÁTICO y DE LAS NUEVAS TECNOLOGÍAS.</p>
                        <p>Todos los abogados se encuentran en constante capacitación para ofrecer el mejor asesoramiento posible</p>
                    </div>
                </div>
            </div>
        </main>
{% endblock new_content %}
