{% extends 'EstudioApp/index.html' %}
{% load static %}


{% block index_header %}    
    <a href={% url 'clientes_list'%}>Listado de clientes</a>
    <a href={% url 'clientes_list'%}>Actualizar</a>
{% endblock index_header %} 


{% block index_noticias %}
{% endblock index_noticias %}


{% block new_content %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url({% static 'EstudioApp/assets/client.jpg' %})">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>Cliente</h1>
                            <span class="subheading">Actualizar información.</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    <!-- Main Content-->
    <main class="mb-4">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="my-5">
                        <!-- * * Actualizar cliente * *-->
                        <form id="clientForm" data-sb-form-api-token="API_TOKEN" action="{% url 'cliente_update' cliente.id %}" method="post">
                            {% csrf_token %}
                            <table>
                                {{formulario_cliente.as_table}}
                            </table>
                            
                            <br />
                            <button class="btn btn-primary text-uppercase" id="submitButton" type="submit">Actualizar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock new_content %}